@charset "UTF-8";

/* RESET */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative; 
}
	
html, 
body {
	min-height: 100vh; 
}
		
/* FONTS */
@font-face {
	font-family: "geosanslight-nmsregular";
	src: url("/fonts/geonms-webfont.eot");
	src: url("/fonts/geonms-webfont.eot?#iefix") format("embedded-opentype"), 
	url("/fonts/geonms-webfont.woff") format("woff"), 
	url("/fonts/geonms-webfont.ttf") format("truetype"), 
	url("/fonts/geonms-webfont.svg#geosanslight-nmsregular") format("svg");
	font-weight: normal;
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

body {
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	background-color: #000;
	background-image: url("/img/bkg/sm.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	cursor: auto;
	cursor: url("/cursor/nmg_cursor_normal.svg") 17 17, auto;
}
@media ( min-width: 721px ) {
	body {
		background-image: url("/img/bkg/lg.jpg");
	}
}

.light, 
small {
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "geosanslight-nmsregular", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
h1 { font-size: 50px; }
h2 { font-size: 40px; }
h3 { font-size: 30px; }
h4 { font-size: 20px; }

/* LINKS */
a {
  color: inherit; }

a, button {
  cursor: pointer;
  cursor: url("/cursor/nmg_cursor_active.svg") 25 25, pointer; }

/* HEADER */
#header {
	align-items: flex-end;
	background: rgba(9, 7, 20, 0.6);
	border-bottom: solid 2px #e0b142;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 12px;
	height: 90px;
}
.brand {
	display: flex;
	flex-direction: row;
}

/* LOGO */
.logo {
	display: inline-block;
}
#atlas {
    height: 64px;
    filter: drop-shadow(0 0 10px rgba(164, 255, 247, 0.7));
    transition: all 0.5s;
}
#atlas * {
	transition: all 0.25s;
	fill: rgb(245, 255, 252);
}
#atlas #bottom-right,
#atlas #top-right,
#atlas #left,
#atlas #middle {
	fill: #000;
}
#atlas #diamond,
#atlas #core {
	stroke: #000;
}
#atlas:hover {
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
	transform: scale(1.1);
}
#atlas:hover #diamond {
	fill: #070707;
}
#atlas:hover #core {
	fill: #bf1b19;
	opacity: 0.9;
	stroke: none;
	animation-name: pulse;
	animation-direction: alternate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
@keyframes pulse {
	from {
		transform: scale(1) translate(0, 0);
	}
	to {
		transform: scale(1.25) translate(-10%, -7%);
	}
}
#atlas:hover #bottom-right,
#atlas:hover #top-right,
#atlas:hover #left,
#atlas:hover #middle {
	fill: #fff;
}
#atlas:hover #top-right {
	opacity: 0.7;
}

/* SITE TITLE */
.title {
	display: none;
}
@media ( min-width: 576px ) {
	.title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin-left: 15px;
	}
}
.site-title, 
.tagline {
	font-weight: 300;
	text-shadow: 0 0 25px rgba(164, 255, 247, 0.7), 0 0 5px rgba(255, 255, 255, 0.5);
}
.site-title {
	font-size: 30px;	
	text-transform: uppercase;
}
.tagline {
	font-size: 14px;
}

/* MENU */
.menu .nav {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: flex-end;
}
.menu .toggle {
	background: transparent;
	border: none;
	border-radius: 5px 5px 0 0;
	color: #9fa2aa;
	outline: none;
	text-transform: uppercase;
	font-family: "geosanslight-nmsregular", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: -10px;
	padding: 10px;
}
.menu .toggle:hover,
.menu .open .toggle {
	background: #e0b142;
	color: #2e2c13;
	outline: none;
	text-transform: uppercase;
	text-shadow: 2px 0 2px rgba(0,0,0,0.25);
	font-family: "geosanslight-nmsregular", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight:600;
	letter-spacing: 1px;
	padding: 10px;
}

/* FILTER */
#filter {
	border: none;
	border-radius: 0;
	font-size: 16px;
	outline: none;
	padding: 8px;
  	width: 100%;
}

/* DRAWER */
.drawer {
	backdrop-filter: blur(8px);
	background: rgba(9,7,20,0.6);
	display: none;
	position: absolute;
	top: 40px;
	right: 0px;
	z-index: 2;
	max-height: calc( 100vh - 90px - 77px );
	overflow-y: auto;
	padding: 12px;
	width: 300px;
}
.open .drawer {
	display: block;
}
.drawer ul {
	list-style: none;
}
.drawer img {
	height: 32px;
	width: 32px;
	margin-right: 4px;
}

/* BODY */
#body {
	padding: 12px 0;
	min-height: calc( 100vh - 90px - 77px );
}
@media ( min-width: 768px ) {
	#body {
		padding: 24px 0;
	}
}
@media ( min-width: 1024px ) {
	#body {
		padding: 64px 0;
	}
}

/* CONTAINER */
.container {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	max-width: 1100px; 
}
.row {
	display: flex;
	flex-direction: column;
}
.column {
	width: 100%;
}
@media ( min-width: 1024px ) {
	.row {
		flex-direction: row;
	}	
	.column {
		width: 50%;
	}
}

/* RESOURCES */
.stats {
	border: 8px solid #fff;
	margin: 0 auto 32px;
	max-width: 512px;
	transform-style: preserve-3d;
	transform: perspective(1000px);
}
.stats img {
	display: block;
	height: auto;
	width: 90%;
	margin: 0 auto 5%;
	transform: translateZ(64px);
}
.stats .name {
	background: #fff;
	color: #000;
	font-size: 36px;
	font-weight: 600;
	padding: 8px;
	text-align: center;
}
.stats .value {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
	color: #000;
	font-size: 36px;
	font-weight: 600;
	padding: 8px;
}
.stats .value:after {
	content: url("/img/icon/units.svg");
	display: block;
	float: right;
	height: 36px;
	width: 36px;
	margin-left: 12px;
}

/* DETAILS */
.details {
	max-width: 512px;
	margin: 0 auto 32px;
}
.description {
	margin: 0 auto 32px;
	text-align: left;
}

/* CRAFTING */
.crafting h3 {
	padding-left: 20px;
	margin-bottom: 10px;
}
.recipe {
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 24px;
	margin: 0 auto 32px;
	padding: 24px 24px 12px;
}
.quantity {
	display: inline-block;
	height: 32px;
	bottom: 10px;
	margin-right: 8px;
}
.ingredient {
  border-radius: 5px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 12px;
  padding: 0 12px 0 0;
  text-shadow: 0 0.2vw 0.2vw rgba(0, 0, 0, 0.6);
}
.ingredient img {
	height: 32px;
	width: 32px;
	margin-right: 12px;
}
.recipe > div:not(:last-of-type):after {
	content: "+";
	display: inline;
	position: absolute;
	right: -20px;
	top: 5px;
}

/* RESOURCES */
.stats,
.ingredient {
  background: #f5a920;
  transition: background 0.25s; }
  .resource .stats:hover,
  .ingredient:hover {
    background: #d88f0a; }

#heat_capacitor,
#poly_fibre {
  background: #0063b8; }
  #heat_capacitor:hover,
  #poly_fibre:hover {
    background: #004885; }

#frost_crystal {
  background: #1a4fd1; }
  #frost_crystal:hover {
    background: #143ea4; }

#star_bulb {
  background: #288fae; }
  #star_bulb:hover {
    background: #1e6d85; }

#faecium {
  background: #7a4e31; }
  #faecium:hover {
    background: #563722; }

#cryo_pump,
#hot_ice,
#semiconductor,
#superconductor {
  background: #217851; }
  #cryo_pump:hover,
  #hot_ice:hover,
  #semiconductor:hover,
  #superconductor:hover {
    background: #165036; }

#enriched_carbon,
#thermic_condensate {
  background: #4f7950; }
  #enriched_carbon:hover,
  #thermic_condensate:hover {
    background: #3b5a3c; }

#sulphurine {
  background: #265e3b; }
  #sulphurine:hover {
    background: #173a24; }

#cactus_flesh {
  background: #259525; }
  #cactus_flesh:hover {
    background: #1b6c1b; }

#solanium {
  background: #cc4d16; }
  #solanium:hover {
    background: #9e3c11; }

#gamma_root {
  background: #c7841b; }
  #gamma_root:hover {
    background: #9a6615; }

#radon {
  background: #4d3883; }
  #radon:hover {
    background: #38295f; }

#condensed_carbon {
  background: #cb3109; }
  #condensed_carbon:hover {
    background: #9a2507; }

#phosphorus {
  background: #dc2400; }
  #phosphorus:hover {
    background: #a91c00; }

#stasis_device {
  background: #ffbb00; }
  #stasis_device:hover {
    background: #cc9600; }

#nitrogen {
  background: #dc9324; }
  #nitrogen:hover {
    background: #b1761c; }

/* FOOTER */
#footer {
	color: rgba(255, 255, 255, 0.5);
	padding: 32px 16px 16px;
	font-size: 12px;
	text-align: center;
}
#footer .creativecommons {
    height: 12px;
    top: 2px;
	left: 2px;
}
