@charset "UTF-8";

/* RESET */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative; 
}
	
html, 
body {
	min-height: 100vh; 
}
		
/* FONTS */
@font-face {
	font-family: "geosanslight-nmsregular";
	src: url("/fonts/geonms-webfont.eot");
	src: url("/fonts/geonms-webfont.eot?#iefix") format("embedded-opentype"), 
	url("/fonts/geonms-webfont.woff") format("woff"), 
	url("/fonts/geonms-webfont.ttf") format("truetype"), 
	url("/fonts/geonms-webfont.svg#geosanslight-nmsregular") format("svg");
	font-weight: normal;
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

body {
	font-family: "geosanslight-nmsregular", "Raleway", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	background-color: #000;
	background-image: url("/img/bkg/sm.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	cursor: auto;
	cursor: url("/cursor/nmg_cursor_normal.svg") 17 17, auto;
}
@media ( min-width: 721px ) {
	body {
		background-image: url("/img/bkg/lg.jpg");
	}
}
body.drawer-open {
	overflow: hidden; /* Prevents scrolling on body while drawer is open */
}

.light, 
small {
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
h1 { font-size: 50px; }
h2 { font-size: 40px; }
h3 { font-size: 30px; }
h4 { font-size: 20px; }

/* LINKS */
a {
  color: inherit; }

a, 
button {
	cursor: pointer;
	cursor: url("/cursor/nmg_cursor_active.svg") 25 25, pointer;
	border: none;
	outline: none;
	font-family: "geosanslight-nmsregular", "Raleway", Helvetica, Arial, sans-serif;
}

/* HEADER */
#header {
	align-items: flex-end;
	background: rgba(9, 7, 9, 0.7);
	border-bottom: solid 3px #e0b142;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 12px;
	height: 90px;
}
.brand {
	display: flex;
	flex-direction: row;
}

/* LOGO */
.logo {
	display: inline-block;
}
#atlas {
    height: 64px;
    filter: drop-shadow(0 0 10px rgba(164, 255, 247, 0.7));
    transition: all 0.5s;
}
#atlas * {
	transition: all 0.25s;
	fill: rgb(245, 255, 252);
}
#atlas #bottom-right,
#atlas #top-right,
#atlas #left,
#atlas #middle {
	fill: #000;
}
#atlas #diamond,
#atlas #core {
	stroke: #000;
}
.brand:hover #atlas {
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
	transform: scale(1.1);
}
.brand:hover #atlas #diamond {
	fill: #070707;
}
.brand:hover #atlas #core {
	fill: #bf1b19;
	opacity: 0.9;
	stroke: none;
	animation-name: pulse;
	animation-direction: alternate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
@keyframes pulse {
	from {
		transform: scale(1) translate(0, 0);
	}
	to {
		transform: scale(1.25) translate(-10%, -7%);
	}
}
.brand:hover #atlas #bottom-right,
.brand:hover #atlas #top-right,
.brand:hover #atlas #left,
.brand:hover #atlas #middle {
	fill: #fff;
}
.brand:hover #atlas #top-right {
	opacity: 0.7;
}

/* SITE TITLE */
.brand .title {
	display: none;
}
@media ( min-width: 576px ) {
	.brand .title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin-left: 15px;
	}
}
.site-title, 
.tagline {
	font-weight: 300;
	text-shadow: 0 0 25px rgba(164, 255, 247, 0.7), 0 0 5px rgba(255, 255, 255, 0.5);
}
.site-title {
	font-size: 30px;	
	text-transform: uppercase;
}
.tagline {
	font-size: 14px;
}

/* MENU */
.menu .nav {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: flex-end;
}
.menu .toggle {
	background: transparent;
	border: none;
	border-radius: 5px 5px 0 0;
	color: #9fa2aa;
	outline: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: -10px;
	padding: 10px;
}
.menu .toggle:hover,
body.drawer-open .menu .toggle {
	background: #e0b142;
	color: #2e2c13;
	text-shadow: 2px 1px 1px rgba(0,0,0,0.25);
}
.nav-item button svg {
	height: 16px;
	width: auto;
	margin-right: 4px;
	fill: #9fa2aa;
}
.nav-item:hover button svg,
body.drawer-open .nav-item button svg {
	fill: #2e2c13;
	filter: drop-shadow(2px 0 2px rgba(0,0,0,0.25));
}

/* DRAWER */
#drawer {
	backdrop-filter: blur(8px);
	background: rgb(123,130,163,.2);
	display: none;
	position: absolute;
	top: 90px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	overflow-y: auto;
	padding: 12px;
}
body.drawer-open #drawer {
	display: block;
}
#drawer .container > div:not(:last-of-type) {
	margin-bottom: 24px;
}

/* DRAWER > TYPES */
#drawer .types ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 4px;
}
#drawer .types li {
	width: 25%;
}
#drawer .types button {
	background: transparent;
	border-left: solid transparent 4px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 8px;
	font-size: 16px;
	width: 100%;
	background: rgba(43,65,96,0.2);
	color: #fff;
    padding: 8px 4px;
}
@media ( min-width: 1024px ) {
	#drawer .types ul {
		gap: 10px;
	}
	#drawer .types button {
		flex-direction: row;
		padding: 12px 16px;
		gap: 16px;
		font-size: 20px;
	}
}
#drawer .types button svg {
	fill: #fff;
	height: 24px;
	width: auto;
	max-width: 24px;
}
#drawer .types button:hover,
#drawer .types button.active {
	background: rgba(103,116,173,0.5);
	border-left: solid #fff 4px;
}
#drawer .types button:hover svg,
#drawer .types button.active svg {
	filter: drop-shadow(0 0 4px rgba(224, 177, 66, 1));
}

/* DRAWER > FILTER */
#drawer .filter input {
	border: none;
	border-radius: 0;
	font-family: "geosanslight-nmsregular", "Raleway", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	outline: none;
	padding: 8px;
  	width: 100%;
}

/* DRAWER > ITEMS */
#drawer .items ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
}
#drawer .items li {
	width: calc( 25% - 7.5px );
}
#drawer .item {
	border: 4px solid #fff;
	font-size: 16px;
	font-weight: 600;
	width: 100%;
}
#drawer .item .name {
	background: #fff;
	height: 20px;
	overflow: hidden;
}
#drawer .item .name span {
	white-space: nowrap;
}
#drawer .item img {
	width: 100%;
}
@media ( min-width: 1024px ) {
	#drawer .items li {
		width: calc( 12.5% - 8.75px );
	}
}

/* BODY */
#body {
	padding: 12px 0;
	padding: 64px 0;
	min-height: calc( 100vh - 90px - 49px );
}

/* CONTAINER */
.container {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	max-width: 512px;
}
.row {
	display: flex;
	flex-direction: column;
}
.column {
	width: 100%;
}
@media ( min-width: 1024px ) {
	.container {
		max-width: 1024px;
	}
	.row {
		flex-direction: row;
	}	
	.column {
		width: 50%;
	}
}

/* RESOURCES */
.card {
	border: 8px solid #fff;
	margin: 0 auto 32px;
	transform-style: preserve-3d;
	transform: perspective(1000px);
	box-shadow: 0 4px 48px rgba(0,0,0,.7);
}
@media ( min-width: 1024px ) {
	.card {
		margin: 0 32px 32px 0;
	}
}
.card img {
	display: block;
	height: auto;
	width: 93.5%;
	margin: 0 auto 5%;
	transform: translateZ(64px);
}
.card .name {
	background: #fff;
	color: #000;
	font-size: 36px;
	font-weight: 600;
	padding: 8px;
	text-align: center;
}
.card .value {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
	color: #000;
	font-size: 36px;
	font-weight: 600;
	padding: 8px 8px 0 0;
}
.card .value:after {
	content: url("/img/icon/units.svg");
	display: block;
	float: right;
	height: 36px;
	width: 36px;
	margin-left: 12px;
}

/* DETAILS */
.details {
	margin: 0 auto 32px;
}
.details > * {
	background: rgb(123,130,163,.2);
    border-top: 1px solid rgba(255,255,255,.5);
	margin: 0 auto 32px;
	padding: 12px 24px;
}
.details > div > h3 {
	margin-bottom: 10px;
}
.details p {
	font-family: "Raleway", Helvetica, Arial, sans-serif;
}

/* CRAFTING */
.recipes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: flex-start;
}
.recipe {
	border: 2px solid rgba(255, 255, 255, 0.25);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0 0 16px;
	padding: 8px;
	width: calc( 50% - 8px );
}
.yield {
	font-size: 14px;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	margin-top: 12px;
	width: 100%;
}
.ingredient {
	margin: 0 0 2px;
	white-space: nowrap;
}
.quantity {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	text-align: right;
	margin: 0 4px 0 0;
	min-width: 24px;
	bottom: 7px;
}
.ingredient button {
	border: 2px solid #fff;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}
.ingredient .title {
	background: #fff;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	padding: 4px;
}
.ingredient img {
	height: auto;
	width: 24px;
	margin-right: 4px;
}

/* RESOURCES */
.card,
.ingredient button {
  background: #f5a920;
  transition: background 0.25s; }
  .resource .card:hover,
  .ingredient button:hover {
    background: #d88f0a; }

#heat_capacitor,
#poly_fibre {
  background: #0063b8; }
  #heat_capacitor:hover,
  #poly_fibre:hover {
    background: #004885; }

#frost_crystal {
  background: #1a4fd1; }
  #frost_crystal:hover {
    background: #143ea4; }

#star_bulb {
  background: #288fae; }
  #star_bulb:hover {
    background: #1e6d85; }

#faecium {
  background: #7a4e31; }
  #faecium:hover {
    background: #563722; }

#cryo_pump,
#hot_ice,
#semiconductor,
#superconductor {
  background: #217851; }
  #cryo_pump:hover,
  #hot_ice:hover,
  #semiconductor:hover,
  #superconductor:hover {
    background: #165036; }

#enriched_carbon,
#thermic_condensate {
  background: #4f7950; }
  #enriched_carbon:hover,
  #thermic_condensate:hover {
    background: #3b5a3c; }

#sulphurine {
  background: #265e3b; }
  #sulphurine:hover {
    background: #173a24; }

#cactus_flesh {
  background: #259525; }
  #cactus_flesh:hover {
    background: #1b6c1b; }

#solanium {
  background: #cc4d16; }
  #solanium:hover {
    background: #9e3c11; }

#gamma_root {
  background: #c7841b; }
  #gamma_root:hover {
    background: #9a6615; }

#radon {
  background: #4d3883; }
  #radon:hover {
    background: #38295f; }

#condensed_carbon {
  background: #cb3109; }
  #condensed_carbon:hover {
    background: #9a2507; }

#phosphorus {
  background: #dc2400; }
  #phosphorus:hover {
    background: #a91c00; }

#stasis_device {
  background: #ffbb00; }
  #stasis_device:hover {
    background: #cc9600; }

#nitrogen {
  background: #dc9324; }
  #nitrogen:hover {
    background: #b1761c; }

/* FOOTER */
#footer {
	background: rgba(9, 7, 9, 0.7);
	color: rgba(255, 255, 255, 0.5);
	padding: 8px;
	font-size: 12px;
	text-align: center;
}
#footer a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-weight: 500;
}
#footer .creativecommons {
    height: 16px;
    top: 4px;
    margin: 0 0 0 3px;
}
