/* VARS */
$base-path: "https://bcgm3.com/dev/nmg/";

$blue-1: #0063b8; // heat capacitor, poly fibre
$blue-2: #1a4fd1; // frost crystal
$blue-3: #288fae; // star bulb
$brown: #7a4e31; // faecium
$green-1: #217851; // cryo pump, hot ice, semiconductor, superconductor
$green-2: #4f7950; // enriched carbon, thermic condensate
$green-3: #265e3b; // sulphurine,
$green-4: #259525; // cactus flesh
$orange-1: #cc4d16; // solanium
$orange-2: #c7841b; // gamma root
$purple: #4d3883; // radon
$red-1: #cb3109; // condensed carbon
$red-2: #dc2400; // phosphorus
$yellow-1: #f5a920; // grantine, magno gold, aronium, iridesite, organic catalyst
$yellow-2: #ffbb00; // stasis device,
$yellow-3: #dc9324; // nitrogen

/* RESET */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
}
html, body {
	min-height: 100vh;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,600");
// @font-face {
// 	font-family: "Conv_geonms-webfont";
// 	src: url($base-path + "fonts/geonms-webfont.eot");
// 	src: local('☺'), 
// 		url($base-path + "fonts/geonms-webfont.woff") format('woff'), 
// 		url($base-path + "fonts/geonms-webfont.ttf") format('truetype'), 
// 		url($base-path + "fonts/geonms-webfont.svg") format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
html, body {
	font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
	// font-family: "Conv_geonms-webfont", "GeosansLight-NMS", sans-serif;
	font-size: 5vw;
	font-weight: 300;
}
.light,small { font-weight: 100; }
h1, h2, h3, h4, h5, h6,b,strong {
	font-weight: 600;
}
h1 { font-size: 5vw; }
h2 { font-size: 4.4vw; }
h3 { font-size: 3.8vw; }
h4 { font-size: 3.2vw; }
h5 { font-size: 2.6vw; }
h6 { font-size: 2vw; }

/* LINKS */
a {
	color: inherit;
}
a, button {
	cursor: pointer;
	cursor: url($base-path + "cursor/nmg_cursor_active.svg") 25 25, pointer;
}

/* HEADER */
#header {
	align-items: center;
	background: linear-gradient(to right, rgba(64,150,238,0) 0%,rgba(64,150,238,0.3) 20%);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 6vw;
	padding: 2vw;
	.logo {
		height: 16vw;
		float: left;
		margin-right: 2vw;
		filter: drop-shadow( 0 0 0.75vw rgba(255, 255, 255, .7));
		transition: all 0.5s;
		#d, #tr, #c {
			transition: all 0.25s;
		}
		#d {
			opacity: 0.9;
		}
		#tr {
			opacity: 0.7;
		}
		&:hover {
			filter: drop-shadow( 0 0 0.25vw rgba(255, 255, 255, .5));
			transform: scale(1.1);
			#d, #tr {
				opacity: 1;
			}
			#c {
				transform: scale(1.1) translate(-3%, -3%);
			}
		}
	}
	.title, .tagline {
		display: none;
		float: left;
		text-shadow: 0 0.2vw 0.2vw rgba(0,0,0,0.6);
	}
	.title {
		margin-top: 1vw;
	}
}
.menu {
	.nav {
		display: flex;
		list-style: none;
		align-items: center;
		justify-content: flex-end;
	}
	.toggle {
		background: transparent;
		border: none;
		color: #fff;
		outline: none;
		padding: 1vw;
		&:hover {
			#ship-icon .fill {
				fill: $red-1;
			}
			#frigate-icon .fill {
				fill: $green-1;
			}
			#base-icon .fill {
				fill: $blue-1;
			}
		}
		span {
			display: none;
		}
		svg {
			width: 16vw;
			.fill { 
				fill: #fff;
				transition: fill 0.125s ease-in;
			}
			.border, .inner-ring, .outer-ring { fill: none; }
		}
	}
}
.search {
	width: 100%;
	margin: 1vw 2vw 2vw;
}
.select2-container .select2-selection--single {
	border-bottom: none;
	cursor: inherit;
	height: unset;
	margin: 0 auto;
	padding: 1.5vw 0 1vw;
}
.select2-container,
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #000;
}
.select2-container--default .select2-results>.select2-results__options {
	max-height: 70vh;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: unset;
	padding: 0 6vw 0 2vw;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-width: 2vw 2vw 0 2vw;
	margin: 0;
	top: 2.5vw;
	right: 2vw;
	left: unset;
	bottom: unset;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-width: 0 2vw 2vw 2vw; 
}

/* DRAWER */
.drawer {
	border-top: 1.25vw solid #ca2616;
	box-shadow: 0 1vw 0.25vw rgba(0,0,0,0.5);
	display: none;
	position: absolute;
	top: 20vw;
	right: 10vw;
	z-index: 2;
	// min-width: 30vw;
	h3 {
		background: linear-gradient(45deg, #cc381a, #86160a);
		border-top: 0.5vw solid #721301;
		padding: 2vw 2vw 0.25vw;
		text-align: left;
		text-shadow: 0 0.25vw 0.25vw rgba(0,0,0,0.5);
		&:after {
			display: block;
			content: '•';
			position: absolute;
			top: 0.25vw;
			right: 0.75vw;
		}
	}
	ul {
		background: #274a50;
		border-bottom: 1.25vw solid #1e4046;
		list-style: none;
		padding: 1vw 2vw 1.5vw;
		li {
			&:before {
				content: "";
				background-repeat: no-repeat;
				background-size: cover;
				width: 3vw;
				height: 3vw;
				display: inline-block;
				margin-right: 0.75vw;
				bottom: -0.75vw;
			}
			&.base:before {
				background-image: url($base-path + "img/icon/base.svg");
			}
			&.frigate:before {
				background-image: url($base-path + "img/icon/frigate.svg");
			}
			&.planet:before {
				background-image: url($base-path + "img/icon/planet.svg");
				background-size: 80%;
				background-position: center;
			}
			&.ship:before {
				background-image: url($base-path + "img/icon/ship.svg");
			}
			&.system:before {
				background-image: url($base-path + "img/icon/system.svg");
			}			
		}
	}
}

/* BODY */
html {
	background-color: #000;
	color: #fff;
}
body {
	cursor: auto;
	cursor: url($base-path + "cursor/nmg_cursor_normal.svg") 17 17, auto;
	padding: 6vw 0 0;
}

/* SECTION */
section {
	margin: 0 auto 4vw;
}

/* CONTAINERS */
div[class^="container-"] {
	padding: 0 2.5vw;
}

/* RESOURCES */
#resources {
	text-align: center;
}
.resource {
	background: #bb3832;
	border: 0.5vw solid #fff;
	margin: 0 auto 6vw;
	padding: 0 0 3vw 0;
	width: 70vw;
	img {
		display: block;
		height: auto;
		width: 100%;
	}
	.title {
		background: #fff;
		color: #000;
		font-size: 6.5vw;
		font-weight: 600;
		padding: 1.5vw 0 1vw;
		text-align: center;
	}
	.value {
		background: #fff;
		bottom: 0;
		color: #000;
		font-size: 6vw;
		font-weight: 600;
		left: 0;
		padding: 2vw 2vw 1vw;
		position: absolute;
		margin: 0 0 -0.25vw -0.25vw;
		&:after {
			content: url($base-path + "img/icon/units.svg");
			display: block;
			float: right;
			height: 6vw;
			width: 6vw;
			margin-left: 2vw;
		}
	}
}

/* DESCRIPTION */
.description {
	display: none;
	margin: 0 0 6vw;
	padding: 0 14vw;
	text-align: left;
}

/* RECIPE */
.recipe {
	background: rgba(0,0,0,0.5);
	border-radius: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 6vw;
	margin: 0 auto 6vw;
	padding: 3vw 1vw;
	width: 70vw;
}
.ingredient {
	border-radius: 0.25vw;
	display: inline-block;
	padding: 2vw 2vw 1vw;
	text-shadow: 0 0.2vw 0.2vw rgba(0,0,0,0.6);
}
/* RESOURCES */
.resource, 
.ingredient {
	background: $yellow-1;
	transition: background 0.25s;
	&:hover {
		background: darken( $yellow-1, 10% );
	}
}
#heat_capacitor,
#poly_fibre {
	background: $blue-1;
	&:hover {
		background: darken( $blue-1, 10% );
	}
}
#frost_crystal {
	background: $blue-2;
	&:hover {
		background: darken( $blue-2, 10% );
	}
}
#star_bulb {
	background: $blue-3;
	&:hover {
		background: darken( $blue-3, 10% );
	}
}
#faecium {
	background: $brown;
	&:hover {
		background: darken( $brown, 10% );
	}
}
#cryo_pump,
#hot_ice,
#semiconductor,
#superconductor {
	background: $green-1;
	&:hover {
		background: darken( $green-1, 10% );
	}
}
#enriched_carbon,
#thermic_condensate {
	background: $green-2;
	&:hover {
		background: darken( $green-2, 10% );
	}
}
#sulphurine {
	background: $green-3;
	&:hover {
		background: darken( $green-3, 10% );
	}
}
#cactus_flesh {
	background: $green-4;
	&:hover {
		background: darken( $green-4, 10% );
	}
}
#solanium {
	background: $orange-1;
	&:hover {
		background: darken( $orange-1, 10% );
	}
}
#gamma_root {
	background: $orange-2;
	&:hover {
		background: darken( $orange-2, 10% );
	}
}
#radon {
	background: $purple;
	&:hover {
		background: darken( $purple, 10% );
	}
}
#condensed_carbon {
	background: $red-1;
	&:hover {
		background: darken( $red-1, 10% );
	}
}
#phosphorus {
	background: $red-2;
	&:hover {
		background: darken( $red-2, 10% );
	}
}
#stasis_device {
	background: $yellow-2;
	&:hover {
		background: darken( $yellow-2, 10% );
	}
}
#nitrogen {
	background: $yellow-3;
	&:hover {
		background: darken( $yellow-3, 10% );
	}
}

/* TABLES */
table {
	border: 0.125vw solid;
	width: 100%;
	border-collapse: collapse;
}
thead {
	background: rgba(255,255,255,0.2);
}
th, td {
	padding: 0.5vw;
}
th:first-child,
td:first-child {
	border-right: 0.125vw solid;
}
tr:nth-child(even) td:nth-child(even) {
	background: rgba(255,255,255,0.1);
}

/* Background: Hex pattern and color overlay */
.hex {
	background-image: url($base-path + "img/bkg/hex.png"), linear-gradient(45deg, rgba(19,29,39,0.2), rgba(163,185,198,0.2));
	background-attachment: fixed;
	background-blend-mode: lighten;
	background-position: bottom left;
	background-size: cover;
	mix-blend-mode: soft-light;
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

/* Background: Screenshot slideshow */
.slideshow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: -2;
	.slide {
		background-attachment: fixed;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: opacity 1s ease-in-out;
		opacity: 0;
		position: absolute;
		height: 100%;
		width: 100%;
		&.zero {
			background-image: url($base-path + "img/bkg/0.jpg");
		}
		&.one {
			background-image: url($base-path + "img/bkg/1.jpg");
		}
		&.two {
			background-image: url($base-path + "img/bkg/2.jpg");
		} 
		&.three {
			background-image: url($base-path + "img/bkg/3.jpg");
		}
		&.four {
			background-image: url($base-path + "img/bkg/4.jpg");
		}
		&.five {
			background-image: url($base-path + "img/bkg/5.jpg");
		}
		&.six {
			background-image: url($base-path + "img/bkg/6.jpg");
		}
		&.seven {
			background-image: url($base-path + "img/bkg/7.jpg");
		}
		&.eight {
			background-image: url($base-path + "img/bkg/8.jpg");
		}
		&.nine {
			background-image: url($base-path + "img/bkg/9.jpg");
		}
		&.show {
			opacity: 1;
		}
	}
}

/* CREDITS */
#credits {
	color: rgba(255,255,255,0.5);
	// font-size: 3vw;
	// line-height: 1.5;
	padding: 0 2vw;
	.creativecommons {
		height: 3vw;
		top: 0.25vw;
	}
}